
.env
.Rhistory
src/bot.bat
bot.bat
.Rhistory
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/league_data.iml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/workspace.xml
src/ranked_update.bat
src/__pycache__/tilt_glen.cpython-37.pyc
src/.idea/vcs.xml
src/leaderboard.png
